
.background {
    margin: -8px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(94,15,15,1) 95%, rgba(2,0,36,1) 173%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(94,15,15,1) 95%, rgba(2,0,36,1) 173%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(94,15,15,1) 95%, rgba(2,0,36,1) 173%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#020024",GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
  }


.clock-generic-style {
    position: absolute;
    z-index: 2;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(225, 225, 225);
    font-size: 60px;
    text-align: center;
    border: 5px solid black;
    position: absolute;
    top: 10%;
    left: 3%;
    right: 3%;
    margin: 0 auto;
    transform: translateY(-50%);
    /* Responsive properties */
    padding: 1rem; /* Add some padding for smaller screens */
    border-radius: 0.5rem; /* Add rounded corners for better look */
    box-sizing: border-box; /* Ensure padding doesn't affect width calculations */
    margin-top: 3.125rem;
    background: rgb(210,5,5);
background: -moz-linear-gradient(113deg, rgba(210,5,5,1) 0%, rgba(84,9,9,1) 80%, rgba(2,0,36,1) 173%);
background: -webkit-linear-gradient(113deg, rgba(210,5,5,1) 0%, rgba(84,9,9,1) 80%, rgba(2,0,36,1) 173%);
background: linear-gradient(113deg, rgba(210,5,5,1) 0%, rgba(84,9,9,1) 80%, rgba(2,0,36,1) 173%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d20505",endColorstr="#020024",GradientType=1);
  }
  
  /* Media queries for different screen sizes */
  @media (max-width: 768px) {
    .clock-generic-style {
      font-size: 1.5rem; /* Adjust font size for smaller screens */
      width: 80%; /* Use a percentage width for better responsiveness */
    }
  }
  
  @media (max-width: 480px) {
    .clock-generic-style {
      font-size: 1.2rem; /* Adjust font size for even smaller screens */
    }
  }
  